# Clean up database

In [24]:
# Importing the dependencies

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [25]:
# Read in the raw data file to a dataframe
file = 'Resources/database.csv'
df = pd.read_csv(file)
list(df.columns)

['Record ID',
 'Incident Year',
 'Incident Month',
 'Incident Day',
 'Operator ID',
 'Operator',
 'Aircraft',
 'Aircraft Type',
 'Aircraft Make',
 'Aircraft Model',
 'Aircraft Mass',
 'Engine Make',
 'Engine Model',
 'Engines',
 'Engine Type',
 'Engine1 Position',
 'Engine2 Position',
 'Engine3 Position',
 'Engine4 Position',
 'Airport ID',
 'Airport',
 'State',
 'FAA Region',
 'Warning Issued',
 'Flight Phase',
 'Visibility',
 'Precipitation',
 'Height',
 'Speed',
 'Distance',
 'Species ID',
 'Species Name',
 'Species Quantity',
 'Flight Impact',
 'Fatalities',
 'Injuries',
 'Aircraft Damage',
 'Radome Strike',
 'Radome Damage',
 'Windshield Strike',
 'Windshield Damage',
 'Nose Strike',
 'Nose Damage',
 'Engine1 Strike',
 'Engine1 Damage',
 'Engine2 Strike',
 'Engine2 Damage',
 'Engine3 Strike',
 'Engine3 Damage',
 'Engine4 Strike',
 'Engine4 Damage',
 'Engine Ingested',
 'Propeller Strike',
 'Propeller Damage',
 'Wing or Rotor Strike',
 'Wing or Rotor Damage',
 'Fuselage Strike',
 'Fuselage Damage',
 'Landing Gear Strike',
 'Landing Gear Damage',
 'Tail Strike',
 'Tail Damage',
 'Lights Strike',
 'Lights Damage',
 'Other Strike',
 'Other Damage']

In [26]:
df["Incident Year"].unique()

array([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015], dtype=int64)

In [27]:
df["Incident Month"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12], dtype=int64)

In [32]:
# Removed unknown values from Operator and Operator ID
df = df.loc[(df['Operator'] != 'UNKNOWN')]
df = df.loc[(df['Operator ID'] != 'UNKNOWN')]

In [33]:
# Clean up the dataframe
# Remove all NaN values, replace with 0 for relevant columns
df['Fatalities'].fillna(0,inplace = True)
df['Injuries'].fillna(0,inplace = True)
df['Aircraft Type'].fillna(0,inplace = True)
df['Flight Phase'].fillna(0,inplace = True)
df.head()

,Record ID,Incident Year,Incident Month,Incident Day,Operator ID,Operator,Aircraft,Aircraft Type,Aircraft Make,Aircraft Model,...,Fuselage Strike,Fuselage Damage,Landing Gear Strike,Landing Gear Damage,Tail Strike,Tail Damage,Lights Strike,Lights Damage,Other Strike,Other Damage
0,127128,1990,1,1,DAL,DELTA AIR LINES,B-757-200,A,148,26,...,0,0,0,0,1,1,0,0,0,0
1,129779,1990,1,1,HAL,HAWAIIAN AIR,DC-9,A,583,90,...,0,0,0,0,0,0,0,0,1,0
3,2258,1990,1,3,MIL,MILITARY,A-10A,A,345,NaN,...,0,0,0,0,0,0,0,0,0,0
4,2257,1990,1,3,MIL,MILITARY,F-16,A,561,NaN,...,0,0,0,0,0,0,0,0,0,0
5,129734,1990,1,4,HAL,HAWAIIAN AIR,DC-9,A,583,90,...,0,0,0,0,0,0,0,0,1,0